@media (max-width: 576px) {
    .navbar { 
        display: flex
    }
    .menu-label i {
        display: block;
    }


    /* NUESTRA MISION */
    #about-us {
        margin-top: 50px;
        padding: 20px 0px;
        min-width: 320px;
        max-width: 576px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: oswald;
        flex-direction: column;
    }

    #hero-contact h3 {
        color: var(--verde);
        font-size: 18px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
    }

    .about-card {
        display: flex;
        align-items: center;
    }

    .about-info h2 {
        width: 100%;
        color: var(--verde);
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
    
    }

    .about-card img {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }

    #services {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        min-width: 320px;
        max-width: 576px;
        font-family: oswald;
    }
    
    .card-services-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    
    .card-services-container img {
        border-radius: 1rem;
        width: 250px;
        box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
        border: solid 1px #f4f4f4;}
    
    .card-services1 h3 {
        display:flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        flex-direction: column;
        text-align: center;
    }

    .container-cards-diag {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }


    /* TERAPIAS */

    #terapias {
        padding: 20px 0px;
        min-width: 320px;
        max-width: 576px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: oswald;
    }

    .terapia-container { 
        min-width: 320px;
        max-width: 576px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        background-color: rgba(64, 37, 37, 0.107);
        width: 250px;
    }

    #terapias h4 {
        color: var(--blue);
        font-size: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
        text-align: center;
    }


    .terapias-card h5 {
        font-size: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
        text-align: center;
    }

    .terapia-container p {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
        padding-right: 10px;
        margin-right: 10px;
        text-align: center;
        width: 300px;
    }
      
}

@media (max-width:820px) {

    .navbar { 
        display: flex
    }
    .menu-label i {
        display: block;
    }


    /* NUESTRA MISION */
    #about-us {
        margin-top: 50px;
        padding: 20px 0px;
        min-width: 320px;
        max-width: 720px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: oswald;
        flex-direction: column;
    }

    #hero-contact h3 {
        color: var(--verde);
        font-size: 18px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: grid;
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
    }

    .about-card {
        display: flex;
        align-items: center;
    }

    .about-info h2 {
        width: 100%;
        color: var(--verde);
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
    
    }

    .about-card img {
        width: 400px;
        display: flex;
        flex-direction: grid;
        justify-content: center;
        margin: 10px;
    }

    .about-info p {
        display: flex;
        align-items: center;
        flex-direction: grid;
        justify-content: center;
        text-align: center;

    }

    #services {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        min-width: 320px;
        max-width: 576px;
        font-family: oswald;
    }
    
    .card-services-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .card-services-container img {
        border-radius: 1rem;
        width: 250px;
        box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
        border: solid 1px #f4f4f4;}
    
    .card-services1 h3 {
        display:flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        flex-direction: column;
        text-align: center;
    }

    .container-cards-diag {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }


    /* TERAPIAS */

    #terapias {
        padding: 20px 0px;
        min-width: 320px;
        max-width: 576px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: oswald;
    }

    .terapia-container { 
        min-width: 320px;
        max-width: 576px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        background-color: rgba(64, 37, 37, 0.107);
        width: 250px;
    }

    #terapias h4 {
        color: var(--blue);
        font-size: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
        text-align: center;
    }


    .terapias-card h5 {
        font-size: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
        text-align: center;
    }

    .terapia-container p {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
        padding-right: 10px;
        margin-right: 10px;
        text-align: center;
        width: 300px;
    }


}

