/* CSS HEX */
:root {
    --ua-red: #DC1952ff;
    --cerulean-crayola: #04A2CEff;
    --lava: #C61321ff;
    --medium-violet-red: #D1188Aff;
    --bitter-lemon: #CFD508ff;
    --goldenrod: #E0A601ff;
    --marigold: #F1A82Aff;
    --mantis: #6ABD51ff;
    --black: #000000ff;
    --tiza: #fbf7f4ff;;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
    }
    
    header {    
    background: var(--tiza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 10px;
    position:sticky ;
    top: 0;
    }
    
    .navbar_logo {
    width: 15%;
    }
    
    .navbar, .navbar-list {
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    }
    
    .navbar {
    gap: 10px;
    }
    
    .navbar-list {
    gap: 25px;
    }
    
    .navbar_login {
    width: 5%;
    justify-content: flex-end;
    float: right;
    }
    