@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* CSS HEX */
:root {
--ua-red: #DC1952ff;
--cerulean-crayola: #04A2CEff;
--lava: #C61321ff;
--medium-violet-red: #ED1C6E;
--bitter-lemon: #CFD508ff;
--goldenrod: #FFBD59;
--marigold: #F1A82Aff;
--mantis: #6ABD51ff;
--black: #000000ff;
--tiza: #fbf7f4ff;
--verde: #03989E;
--blue: #004AAD;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {    
background: rgba(255, 255, 255, 0.596);
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
padding: 0px 10px;  
position:sticky ;
top: 0;
}

.navbar_logo {
width: 12%;
}

.navbar, .navbar-list {
display: flex;
align-items: center;
justify-content: flex-end ;
}

.navbar {
gap: 10px;
}

.navbar-list {
gap: 25px;
}

.navbar-list a {
    color: var(--blue);
    font-family: oswald;
    font-size: 18px;
}

.navbar_login {
width: 5%;
justify-content: flex-end;
float: right;
cursor: pointer;
}

/*INDEX CSS*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
    
}

#hero {
    margin-top: 180px;
    padding: 120px 0px;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.222);
    width: 1905px;
    height: 250px;
    text-transform: uppercase;
}

.hero-text {
    font-size: 45px;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-family: oswald;
}

.hero-info h1 span {
    color: var(--blue);
    font-family: Oswald;
    font-weight: bold;
    font-size: 50px;
}

.hero-info p {
    color: white;
    font-family: oswald;
    padding-bottom: 20px;

}

.primary-button, .secondary-button {
        color: white;
        background-color: var(--blue);
        width: 100px;
        padding: 0px;
        border-radius: 3px;
        font-size: 15px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: oswald;
}

.footer-list {
    color: #004AAD;
    font-family: oswald;
    justify-content: center;   
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.footer-list a {
    color: white;
    justify-content: center;
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ABOUT PAGE CSS*/

/*NUESTRA MISION*/

#about-us {
    margin-top: 50px;
    padding: 65px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: oswald;
}

.about-info {
    flex-direction: column;
    display: flex;
    gap: 30px;
    width: 35%;
    }

.about-info h2 {
    font-size: 38px;
    width: 70%;
    color: var(--verde);
}

.about-info span {
    color: var(--blue);
    font-size: 50px;
}

.about-info p{ 
    font-size: 18px;
    font-weight: bold;
}

.about-card {
width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
padding: 30px;
gap: 20px;
}

.about-card img{
    border-radius: 10px;
}

/*SERVICIOS*/





