@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* CSS HEX */
:root {
--ua-red: #DC1952ff;
--cerulean-crayola: #04A2CEff;
--lava: #C61321ff;
--medium-violet-red: #ED1C6E;
--bitter-lemon: #CFD508ff;
--goldenrod: #FFBD59;
--marigold: #F1A82Aff;
--mantis: #6ABD51ff;
--black: #000000ff;
--tiza: #fbf7f4ff;
--verde: #03989E;
--blue: #004AAD;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* INDEX NAVBAR*/ 

header {    
background: rgba(255, 255, 255, 0.596);
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
padding: 0px 10px;  
position:sticky ;
position: -webkit-sticky;
top: 0; 
}

.navbar_logo {
width: 12%;
}

.navbar, .navbar-list {
display: flex;
align-items: center;
justify-content: flex-end ;
}

.navbar {
gap: 10px;
}

.navbar-list {
gap: 25px;
}

.navbar-list a {
    color: var(--blue);
    font-family: oswald;
    font-size: 18px;
}

.navbar_login {
width: 5%;
justify-content: flex-end;
float: right;
cursor: pointer;
}

.navbar-list span {
    color: var(--verde);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #004AAD;
}

.navbar-list span:hover {
    color: var(--medium-violet-red);
    text-decoration: underline;
}

/*INDEX CUERPO CSS*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
    
}

#hero {
    margin-top: 180px;
    padding: 20px 0px;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.222);
    width: 1200px;
    height: 250px;
    text-transform: uppercase;
    border-radius: 3px;
}

.hero-text {
    font-size: 40px;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-family: oswald;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
}

.hero-info h1 span {
    color: var(--blue);
    font-family: Oswald;
    font-weight: bold;
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;

}

.hero-info p {
    color: white;
    font-family: oswald;
    padding-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;


}

.primary-button, .secondary-button {
        color: white;
        background-color: var(--blue);
        width: 100px;
        padding: 0px;
        border-radius: 3px;
        font-size: 15px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: oswald;
        box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
    }

.primary-button:hover, .secondary-button:hover {
    background: var(--verde);
}

.footer-list {
    color: #004AAD;
    font-family: oswald;
    justify-content: center;   
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 90px;
}

.footer-list a {
    color: var(--blue);
    justify-content: center;
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NUESTRA MISION*/

#about-us {
    margin-top: 50px;
    padding: 20px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: oswald;
}

.about-info {
    flex-direction: column;
    display: flex;
    gap: 30px;
    width: 35%;
    }

.about-info h2 {
    font-size: 38px;
    width: 70%;
    color: var(--verde);
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;


}

.about-info span {
    color: var(--blue);
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;

}

.about-info p{ 
    font-size: 18px;
    font-weight: bold;
}

.about-card {
width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
padding: 30px;
gap: 20px;
}

.about-card img{
    border-radius: 10px;
    box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
    border: solid 1px #f4f4f4;}

/*SERVICIOS*/

#services {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    font-family: oswald;
}

.services-text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.services-text h2 {
    font-size: 38px;
    color: #03989E;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;

}

.services-text p {
    font-weight: bold;
    width: 650px;
}

.card-services-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-services-container img {
    border-radius: 1rem;
    width: 250px;
    box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
    border: solid 1px #f4f4f4;}

.card-services1 h3 {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    flex-direction: column;
    text-align: center;
}

.services-text span {
    color: var(--blue);
    font-style: italic;
    font-weight: bold;
}

.services-text span:hover {
    text-decoration: underline;
    color: #ED1C6E;
}

/* CONTACT PAGE*/

#hero-contact {
    padding: 20px 0px;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: oswald;
}

#hero-contact h3 {
    color: var(--verde);
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
}


.hero-info-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 170px;
}

.hero-info-contact h2 {
    color: var(--verde);
    font-size: 38px;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;

}

.hero-info-contact h2 span {
    color:var(--blue);
    font-size: 38px;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;

}

.hero-info-contact p {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.hero-info-contact p span {
    color: var(--blue);
    font-style: italic;
    text-decoration: underline;
}

.hero-card-whatsapp, .hero-call-center h3 {
    color: var(--verde);
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;

}

.hero-card-call img {
    width: 300px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.hero-card-whatsapp {
    padding-top: 60px;
}

.third-button {
    color: white;
    background-color: var(--blue);
    width: 100px;
    padding: 0px;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: oswald;
    margin-top: 5px;
    box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
}

.third-button:hover {
background: var(--verde);
}

.hero-card-whatsapp p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.hero-card-whatsapp-img {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 20px;

}

/* DIAGNOSTICOS */

#card-diagnostico {
    padding: 50px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: oswald;
    
}

.container-cards-diag {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.container-cards-diag img {
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#card-diagnostico h3 {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.126);
    width: 1300px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--verde);
    border-radius: 2px;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;

}

.card-info {
    width: 300px;
    height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #03989E;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.107);
    box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
    border: solid 1px #f4f4f4;
    border-radius: 1rem;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
}

.card-info h4 {
    padding-bottom: 40px;
    text-decoration: none;
    color: var(--verde);
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
}

.card-info h4:hover {
    color: #ED1C6E;
    text-decoration: underline;
}

/* DIAGNOSTICOS INFORMACION SOBRE PATOLOGIAS */

#terapias {
padding: 50px 0px;
max-width: 1200px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
font-family: oswald;
}

#terapias h3 {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.126);
    width: 1300px;
    align-items: center;
    display: flex;
    color: #03989E;
    justify-content: center;
    border-radius: 2px;
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
}

.terapia-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.terapia-container img {
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5px;   
}   


.terapia-container h4 {
    font-size: 30px;
    color: var(--verde);
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
}

.terapias-card p{
    width: 420px;
    height: auto;
    align-items: center;
    justify-content: center;
    display: block;
    flex-direction: column;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.107);
    border-radius: 1rem;
    box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
    border: solid 1px #f4f4f4;
    padding: 3px 3px 3px 3px ;
}

.terapias-card p {
    color: black;
    text-align:inherit;
    font-size: 15px;
    padding: 8px;
}

.terapias-card img, .terapias-card h4 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 5px;
    vertical-align: top;
    }

.fourth-button {
        color: white;
        background-color: var(--blue);
        width: 100%;
        height: 100%;        
        padding: 2px;
        border-radius: 3px;
        font-size: 15px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: oswald;
        box-shadow:  rgb(0 0 0 / 16%) 0px 1px 4px;
}

.fourth-button:hover {
    background: var(--verde);
}

/* INICIO DE SESION */

#form-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    padding-top: 120px;
}

.form_container_login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    flex-direction: column;
    gap: 5px;
    padding: 25px;
}

.form_container_login p {
    font-size: 12px;
    padding: 12px;
    text-align: center;
}

.form_container_login h2 {
    color: var(--verde);
    text-shadow: rgba(0, 0, 0, 0.258) 2px 2px 4px;
    font-size: 38px;

}

.form_container_login img {
    width: 100px;
}

.forgotten-button , .register-button , .login-button {
    color: #004AAD;
    font-family: oswald;
}

.forgotten-button:hover , .register-button:hover , .login-button:hover {
    color: #ED1C6E;
    text-decoration: underline;
}

/* REGISTRARSE (Formulario Pre-Enrolamiento) */

#form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    padding-top: 120px;
     
    }
    
    .form_imput {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        flex-direction: column;
        gap: 5px;
        padding: 25px;
       
    }
    
    
    .form_container h2 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 12px;
    }

    .boton-registro {
        color: white;
        background-color: var(--blue);
        width: 40%;
        font-family: oswald;
        text-transform: uppercase;
    }

    

    
    







