@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* CSS HEX */
:root {
--ua-red: #DC1952ff;
--cerulean-crayola: #04A2CEff;
--lava: #C61321ff;
--medium-violet-red: #ED1C6E;
--bitter-lemon: #CFD508ff;
--goldenrod: #FFBD59;
--marigold: #F1A82Aff;
--mantis: #6ABD51ff;
--black: #000000ff;
--tiza: #fbf7f4ff;
--verde: #03989E;
--blue: #004AAD;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {    
background: white;
display: flex;
justify-content: space-between;
align-items: center;
height: 65px;
padding: 0px 10px;  
position:sticky ;
top: 0;
}

.navbar_logo {
width: 10%;
}

.navbar, .navbar-list {
display: flex;
align-items: center;
justify-content: flex-end ;
}

.navbar {
gap: 10px;
}

.navbar-list {
gap: 25px;
}

.navbar_login {
width: 5%;
justify-content: flex-end;
float: right;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
    width: 100%;
}

#hero {
    margin-top: 30px;
    padding: 60px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 500px;
    border-radius: 10px;
    padding: 10px 20px;

}

.hero-info h1 {
    display: flex;
    font-size: 70px;
    width: 60%;
    color: var(--medium-violet-red);
    max-width: 1200px;
    font-family:'Oswald', sans-serif;
    font-weight: 200px;
    color: #004AAD;

}

.hero-info p {
    font-size: 20px;
    width: 65%;
    color: black;

}

.primary-button {
        color: white;
        background-color: var(--verde);
        width: 150px;
        padding: 12px 0px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
}

.hero-card {
    width: 500px;
    padding: 10px;  
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.hero-card img {
    border-radius: 10px;
}

#about-us {
    margin-top: 50px;
    padding: 65px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    gap: 65px;
}

#about-us h3 {
    align-items: center;
    font-size: 35px;
}

#about-us span {
    color: var(--medium-violet-red);
}

#card-diagnostico {
    max-width: 1200px;
    padding: 65px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#card-diagnostico h3 {
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
}

.conteiner-cards-diag {
display: flex;
align-items: flex-start;
flex-wrap: wrap;
gap: 50px;
}

.card-info {
    background-color: rgb(227, 67, 166);;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 0px 0px;
    font-weight: 70px;
    gap: 20px;
}

.card-info img {
width: 250px;
border-radius: 30px;
}

.card-info h4 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 22px;
    padding: 0px 20px;
}

#services {
    max-width: 1200px;
    padding: 65px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-services img {
width: 250px;
border-radius: 30px;
}

#services h3 {
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
}

.card-services {
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 0px 0px;
    font-weight: 70px;
    gap: 20px;
}